@import "tailwindcss";

@theme {
  --font-sans: "Kantumruy Pro", "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

body {
  font-family: var(--font-sans);
}

/* Custom styles for Leaflet map integration */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1;
  border-radius: 0.75rem;
}
